<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/049b8fe2-38c8-4859-8e37-50ca2d887b89/resourceGroups/publicApiRresourcegroup/providers/Microsoft.Web/sites/MultiSoftwarePublicApiAppService</ResourceId>
    <ResourceGroup>publicApiRresourcegroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://multisoftwarepublicapiappservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bfbda149-7f4f-4b9b-aa96-f4c2462df643</ProjectGuid>
    <PublishUrl>https://multisoftwarepublicapiappservice.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MultiSoftwarePublicApiAppService</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>